p1{
  color: rgb(255, 0, 0);
}
p2{
  color: rgb(255, 0, 0);
}
body{
  margin: 0;
  padding: 0;
}
.tournament {
    display:block;
    
  }
.cover{
  display:flex;
  height:80px;
  background-color:rgba(255, 255, 255, 0);
}

p2{
  padding:0 300px;
  text-align: center;
}
.explanation_name{
  display:block;
  line-height:150px;
  padding:1em; 
}

.explanation {
  background-image: url("/static/images/aa.jpg"); 
  background-size: cover;
}
.explanation2{
  background-color: #000000;
  background-size: cover;
  background-image: url("/static/images/aa.jpg"); 
  width: 100%;
  height: 100vh;
}
.wrapper {
  display: flex;
}
#app {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  background-position: center;
  background-size: cover;
  transition: background-image 0.3s;
}
#app.bg1 {
  background-image: url("/static/images/car1.jpeg");
  background-size: cover;
}
#app.bg2 {
  background-image: url("/static/images/img0001.jpeg");
  background-size: cover;
}
#app.bg3 {
  background-image: url("/static/images/car1.jpeg");
  background-size: cover;
}
.creation{
  text-align: center;
}

.list {
  display: list-item;
  justify-content: center;
  position: absolute;
  top: 70%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: auto;
}
.explanation_name {
  margin: 0 10px;
}
.explanation_name a {
  display: block;
  padding: 25px;
  color: #555555;
  font-size: 2rem;
  text-decoration: none;
  transition: background-color 0.3s;
  background-color: rgba(255, 255, 255, 0.9);
}
.explanation_name a:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
